
.kt-done {
  .kt-done-icon {
    text-align: center;
    font-size: 120px;
  }
  .kt-done-message {
    text-align: center;
    font-size: 30px;
  }
  .x-panel-inner {
    -webkit-box-align: center;
    display: -webkit-box
  }
}
